<h2>Importing basic required packages</h2>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h2>Import Data</h2>

<h2>Structured Data</h2>

In [27]:
import os
print(os.getcwd())

/Users/atrayeeghosh/Documents/Python_Projects/explorartory_data_analysis

In [29]:
user_rating = pd.read_csv("/Users/atrayeeghosh/Documents/Python_Projects/explorartory_data_analysis/EDA_Master/Data/user_rating.csv")

In [31]:
user_rating.head()

  userID  placeID  food_rating  service_rating
0  U1077   135085            2               2
1  U1077   135038            2               1
2  U1077   132825            2               2
3  U1077   135060            2               2
4  U1068   135104            1               2

In [35]:
consumer_survey = pd.read_excel("/Users/atrayeeghosh/Documents/Python_Projects/explorartory_data_analysis/EDA_Master/Data/consumer_survey.xlsx")

In [37]:
consumer_survey.head()

,gender,smoker,drink_level,dress_preference,ambience,transport,marital_status,interest,personality,religion,activity,income,FRVPM,AERPM
0,male,False,abstemious,informal,family,on foot,single,variety,thrifty-protector,none,student,medium,12,2976
1,female,False,abstemious,informal,family,public,single,technology,hunter-ostentatious,Catholic,student,low,12,3648
2,female,False,social drinker,formal,family,public,single,none,hard-worker,Catholic,student,low,3,1461
3,male,False,abstemious,informal,family,public,single,variety,hard-worker,none,professional,medium,18,4014
4,female,False,abstemious,no preference,family,public,single,none,thrifty-protector,Catholic,student,medium,15,3045

In [39]:
restaurant_parking = pd.read_excel("/Users/atrayeeghosh/Documents/Python_Projects/explorartory_data_analysis/EDA_Master/Data/restaurant_parking.xlsx")

In [41]:
restaurant_parking.head()

   placeID parking_lot
0   135111      public
1   135110        none
2   135109        none
3   135108        none
4   135107        none

In [43]:
dining_preferences = pd.read_excel("/Users/atrayeeghosh/Documents/Python_Projects/explorartory_data_analysis/EDA_Master/Data/dining_preferences.xlsx")

In [45]:
dining_preferences.head()

   Year  Dine_In  Home_Delivery
0  1990     5649              0
1  1991     5539              0
2  1992     5760            104
3  1993     6509             76
4  1994     6982            156

In [11]:
restaurant_cuisine = pd.read_csv("/Users/atrayeeghosh/Documents/Python_Projects/explorartory_data_analysis/restaurant_cuisine.csv")

In [13]:
restaurant_cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [15]:
import sqlite3

In [17]:
conn = sqlite3.connect('demo_database.db')